<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<html lang="en"> 
   {{html|safe}}


<script type="text/javascript">
window.onerror = function (message, filename, linenumber) {
    
    console.log("got an error: " + message + ", " + filename + ", " + linenumber);
   $('.bk-tool-icon-hover').click();
    return true; // The exception is handled, don't show to the user.
}

$('.bk-tool-icon-hover').click(function(){
  alert("The paragraph was clicked.");
}); 
</script>

</html>