{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{{ super() }}
<div class="row">
 
</div>

{% if error_msg %}
<div class="alert alert-danger" role="alert">

  {{error_msg}}


</div>
<script type="text/javascript">
  console.log("error message");
</script>
{% endif %}

{% if not text %}
<div class="row mb-3">
  <div class="col-md-12">
    <div class="float-right">
      <form action="pubmed" method="post" class="green-border-focus">
        <label for="pubmed_id">Enter PubMed ID: </label>
        <input type="text" id="pubmed_id" name="pubmed_id" class="form-control">
        <br>
        <input type="submit" value="SEND" class="btn btn-outline-danger float-right">
      </form>

    </div>
  </div>
</div>

<!-- PubMed ID form input -->
<form id="submitText" action="{{ url_for('tag') }}" method="post">
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="form-group green-border-focus">
        <label for="inputText">Enter text below:</label>
        <!-- todo: make largeTextArea responsive to screen size -->
        <textarea id="textArea" form="submitText" class="form-control" id="inputText" name="inputText" rows="20">

            </textarea>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <div class="float-right">
        <button type="submit" id=tag-text class="btn btn-outline-success"></i> Tag text</button>
      </div>
    </div>
  </div>
</form>


{% elif text %}
<div class="row mb-3">
  <div class="col-md-12">
    <b id="articleDate" class="container-fluid"> {{title}} </b>
    <br>
    <b id="articleID" class="container-fluid"> Pubmed ID: {{id}} </b>
    <br>
    <b id="articleDate" class="container-fluid"> Date published: {{date}} </b>
    <br>
    <b id="articleDate" class="container-fluid"> {{authors}} </b>
    <br>
    <!-- add button to submit ids_for_chord: float-right: --> 
    <div class="float-right">
      <button type="submit" id="submit-ids-for-chord" class="btn btn-outline-success">Visualise associations</button>
    </div>
    <!-- <b id="articleDetails" class="container-fluid"> {{details}} </b> -->
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">

    <div id="compressedText" class="border"> {{text}} </div>
  </div>
</div>

<style>
  .popov-inner {
    white-space: pre-wrap;
  }
</style>

<script type="text/javascript">
  var ids_for_chord = [];
  // enable popovers globally:
  $(function () {
    $('[data-toggle="popover"]').popover({ html: true });
  })

  var results = {{ tag_results | safe}};
  
  // extract IDs and labels from results:
  extractIDandText(results);

  function extractIDandText(matches) {
    $.each(matches, function (index, value) {
      ids_for_chord.push(value.ontol_id);
    });
    console.log("got ids_for_chord: " + ids_for_chord);
  }

  //check for unique namespaces, add to array, assign a colour and 
  namespaces = [];
  namespaceColours = [];
  generateColours(results);
  replaceText(results);
  
  // $(".highlight").css({ backgroundColor: "#FFFF88" }); //highlight all same

  function generateColours(matches) {
    $.each(matches, function (index, value) {
      if (!namespaces.includes(value.ontol_namespace)) {
        namespaces.push(value.ontol_namespace);
      }
    });

    for(i in namespaces){
      // console.log(namespaces[i]);
      //todo: randomColor can't be white - invert function doesn't work for that - or fix invert function to work..
      // var randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16); //generate random colour
      // var randomColor = rainbowStop(namespaces.length);
      namespaceColours.push(rainbow(namespaces.length, i));
    }
  }

  function replaceText(matches) {
    $.each(matches, function (index, value) {
      $("#compressedText").html(function () {
        //highlight
        // $(this).highlight(value.span_text); //to highlight all the same colour
        var shortValue = value.span_text.toLowerCase().replace(/\s+/g, ''); //remove spaces for adding to className
        $(this).highlight(value.span_text, { className: 'jQueryLink' + shortValue }); //this adds an unique className per Value
        var specificColor;
        //check ontology of tag, set correct colour
        for(i in namespaces){
          if(namespaces.includes(value.ontol_namespace)){
            specificColor = namespaceColours[namespaces.indexOf(value.ontol_namespace)];
          }
        }
        $(".jQueryLink" + shortValue).css("color", invertColor(specificColor, true)); //inverse colour for text
        $(".jQueryLink" + shortValue).css("backgroundColor", specificColor); //different colours depending on namespace
        $(".jQueryLink" + shortValue).attr("data-toggle", "popover");
        $(".jQueryLink" + shortValue).popover({ html: true, title: value.ontol_id + "<br><br><a href='" + value.ontol_link + "'target='_blank'> View in AddictO Vocab </a>", content: value.ontol_label + ": " + value.ontol_def, trigger: "manual", placement: "top" })
          .on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(".popover").on("mouseleave", function () {
              $(_this).popover('hide');
            });
          }).on("mouseleave", function () {
            var _this = this;
            setTimeout(function () {
              if (!$(".popover:hover").length) {
                $(_this).popover("hide");
              }
            }, 300);
          });
      });
    });

  }

  //function from https://stackoverflow.com/questions/1484506/random-color-generator
  function rainbow(numOfSteps, step) {
    // This function generates vibrant, "evenly spaced" colours (i.e. no clustering). This is ideal for creating easily distinguishable vibrant markers in Google Maps and other apps.
    // Adam Cole, 2011-Sept-14
    // HSV to RBG adapted from: http://mjijackson.com/2008/02/rgb-to-hsl-and-rgb-to-hsv-color-model-conversion-algorithms-in-javascript
    var r, g, b;
    var h = step / numOfSteps;
    var i = ~~(h * 6);
    var f = h * 6 - i;
    var q = 1 - f;
    switch(i % 6){
        case 0: r = 1; g = f; b = 0; break;
        case 1: r = q; g = 1; b = 0; break;
        case 2: r = 0; g = 1; b = f; break;
        case 3: r = 0; g = q; b = 1; break;
        case 4: r = f; g = 0; b = 1; break;
        case 5: r = 1; g = 0; b = q; break;
    }
    var c = "#" + ("00" + (~ ~(r * 255)).toString(16)).slice(-2) + ("00" + (~ ~(g * 255)).toString(16)).slice(-2) + ("00" + (~ ~(b * 255)).toString(16)).slice(-2);
    return (c);
}

  //invertColor function from https://stackoverflow.com/questions/35969656/how-can-i-generate-the-opposite-color-according-to-current-color
  function invertColor(hex, bw) {
    if (hex.indexOf('#') === 0) {
      hex = hex.slice(1);
    }
    // convert 3-digit hex to 6-digits.
    if (hex.length === 3) {
      hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
    }
    // if (hex.length !== 6) { //somehow this is wrong
    //     throw new Error('Invalid HEX color.');
    // }
    var r = parseInt(hex.slice(0, 2), 16),
      g = parseInt(hex.slice(2, 4), 16),
      b = parseInt(hex.slice(4, 6), 16);
    if (bw) {
      // http://stackoverflow.com/a/3943023/112731
      return (r * 0.299 + g * 0.587 + b * 0.114) > 149
        ? '#000000'
        : '#FFFFFF';
    }
    //test colours: 

    r, g, b = 0;
    // invert color components
    r = (255 - r).toString(16);
    g = (255 - g).toString(16);
    b = (255 - b).toString(16);
    
    // pad each with zeros and return
    return "#" + padZero(r) + padZero(g) + padZero(b);
  }

  function padZero(str, len) {
    len = len || 2;
    var zeros = new Array(len).join('0');
    return (zeros + str).slice(-len);
  }

  $(document).ready(function () {
     //correct link to text tag:
     $("#pagelink").attr("href", "/associations");
    $("#pagelink").text("View associations");


    $('#submit-ids-for-chord').click(function (e) {
      e.preventDefault();
      sendData("associations");

      function sendData(typeOfVisual) {
      //generate ontology label list:
      ontologyArray = ids_for_chord;
      // textFieldVar = $("#textArea").val();
      // console.log("got textFieldVar: ", textFieldVar);
      // var idResultsTextFieldVar = textFieldVar.split(",");
      // for (result in idResultsTextFieldVar) {
      //   var ontologyName = idResultsTextFieldVar[result].split("|")
      //   ontologyArray.push(ontologyName[0].trim()); //send this back to server
      // }


      var checked = "false";
      // //get checkbox: 
      // if ($('#include-descendent-classes-checkbox').is(":checked")) {
      //   checked = "true";
      // }
      //todo: re-factor below two forms to remove duplicate code
      if (typeOfVisual == "associations") {
        console.log("type of visual is: " + typeOfVisual); // could be associations or similarities
        bootbox.alert("Your visualisation is being generated in a new tab");

        form2 = document.createElement("FORM");
        form2.name = 'form2';
        form2.method = 'POST';
        form2.action = '/visualise_associations';
        form2.target = 'VisualisationWindow';
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = "ontology_id_list";
        input.value = JSON.stringify(ontologyArray);
        form2.appendChild(input);
        var input2 = document.createElement('input2');
        input2.type = 'hidden';
        input2.name = "include_descendent_classes";
        input2.value = JSON.stringify(checked);
        form2.appendChild(input2);
        // form2.target = 'VisualisationWindow';
        document.body.appendChild(form2);
        form2.submit();
        //clear:
        // $("#textArea").val("");
        ontologyArray = [];
      } else if (typeOfVisual == "similarities") {

        console.log("type of visual is: " + typeOfVisual); // could be associations or similarities
        bootbox.alert("Your visualisation is being generated in a new tab");

        form2 = document.createElement("FORM");
        form2.name = 'form2';
        form2.method = 'POST';
        form2.action = '/visualise_similarities';
        form2.target = 'SimilaritiesWindow';
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = "ontology_id_list";
        input.value = JSON.stringify(ontologyArray);
        form2.appendChild(input);
        var input2 = document.createElement('input2');
        input2.type = 'hidden';
        input2.name = "include_descendent_classes";
        input2.value = JSON.stringify(checked);
        form2.appendChild(input2);
        document.body.appendChild(form2);
        form2.submit();
        //clear:
        // $("#textArea").val("");
        ontologyArray = [];
      }
    }
    });
    });
</script>

<!-- add more text -->
<div class="row mb-3">
  <div class="col-md-12">
    <div class="float-right">
      <form action="pubmed" method="post" class="green-border-focus">
        <label for="pubmed_id">Enter PubMed ID: </label>
        <input type="text" id="pubmed_id" name="pubmed_id" class="form-control">
        <br>
        <input type="submit" value="SEND" class="btn btn-outline-danger float-right">
      </form>

    </div>
  </div>
</div>

<!-- PubMed ID form input -->
<form id="submitText" action="{{ url_for('tag') }}" method="post">
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="form-group green-border-focus">
        <label for="inputText">Enter text below:</label>
        <!-- todo: make largeTextArea responsive to screen size -->
        <textarea id="textArea" form="submitText" class="form-control" id="inputText" name="inputText" rows="20">

            </textarea>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <div class="float-right">
        <button type="submit" id=tag-text class="btn btn-outline-success"></i> Tag text</button>
      </div>
    </div>
  </div>
</form>

{% endif %}




{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}