{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{{ super() }}
<div class="row">
  <!-- {% if tag_results %}
  <p>
    {{ tag_results | safe }}
  </p>
  {% endif %} -->
</div>

{% if error_msg %}
<div class="alert alert-danger" role="alert">
  
    {{error_msg}}
 
  
</div>
<script type = "text/javascript">
console.log("error message");
</script>
{% endif %}

{% if not text %}
<div class="row mb-3">
  <div class="col-md-12">
    <div class="float-right">
      <form action="pubmed" method="post" class="green-border-focus">
        <label for="pubmed_id">Enter PubMed ID: </label>
        <input type="text" id="pubmed_id" name="pubmed_id" class="form-control">
        <br>
        <input type="submit" value="SEND" class="btn btn-outline-danger float-right">
      </form>

    </div>
  </div>
</div>

<!-- PubMed ID form input -->
<form id="submitText" action="{{ url_for('tag') }}" method="post">
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="form-group green-border-focus">
        <label for="inputText">Enter text below:</label>
        <!-- todo: make largeTextArea responsive to screen size -->
        <textarea id="textArea" form="submitText" class="form-control" id="inputText" name="inputText" rows="20">

            </textarea>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <div class="float-right">
        <button type="submit" id=tag-text class="btn btn-outline-success"></i> Tag text</button>
      </div>
    </div>
  </div>
</form>


{% elif text %}
<div class="row mb-3">
  <div class="col-md-12">
    <b id="articleDate" class="container-fluid"> {{title}} </b>
    <br>
    <b id="articleID" class="container-fluid"> Pubmed ID: {{id}} </b>
    <br>
    <b id="articleDate" class="container-fluid"> Date published: {{date}} </b>
    <br>
    <b id="articleDate" class="container-fluid"> {{authors}} </b>
    <br>
    <!-- <b id="articleDetails" class="container-fluid"> {{details}} </b> -->
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">

    <div id="compressedText" class="border"> {{text}} </div>
  </div>
</div>

<style>
  .popov-inner {
    white-space: pre-wrap;
  }
</style>

<script type="text/javascript">

  // enable popovers globally:
  $(function () {
    $('[data-toggle="popover"]').popover({ html: true });
  })

  var results = {{ tag_results | safe}};
  // var textText = $("#compressedText").text(); //got the text here!

  replaceText(results);

  // $(".highlight").css({ backgroundColor: "#FFFF88" }); //highlight all same

  function replaceText(matches) {
    $.each(matches, function (index, value) {
      $("#compressedText").html(function () {
        //highlight
        // $(this).highlight(value.span_text); //to highlight all the same colour
        var shortValue = value.span_text.toLowerCase().replace(/\s+/g, ''); //remove spaces for adding to className
        $(this).highlight(value.span_text, { className: 'jQueryLink' + shortValue }); //this adds an unique className per Value
        var randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16); //generate random colour
        $(".jQueryLink" + shortValue).css("color", invertColor(randomColor, true)); //inverse colour for text
        $(".jQueryLink" + shortValue).css("backgroundColor", randomColor); //different colours depending on className
        $(".jQueryLink" + shortValue).attr("data-toggle", "popover");
        $(".jQueryLink" + shortValue).popover({ html: true, title: value.ontol_id + "<br><br><a href='" + value.ontol_link + "'target='_blank'> View in AddictO Vocab </a>", content: value.ontol_label + ": " + value.ontol_def, trigger: "manual", placement: "top" })
          .on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(".popover").on("mouseleave", function () {
              $(_this).popover('hide');
            });
          }).on("mouseleave", function () {
            var _this = this;
            setTimeout(function () {
              if (!$(".popover:hover").length) {
                $(_this).popover("hide");
              }
            }, 300);
          });
      });
    });

  }

  //invertColor function from https://stackoverflow.com/questions/35969656/how-can-i-generate-the-opposite-color-according-to-current-color
  function invertColor(hex, bw) {
    if (hex.indexOf('#') === 0) {
      hex = hex.slice(1);
    }
    // convert 3-digit hex to 6-digits.
    if (hex.length === 3) {
      hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
    }
    // if (hex.length !== 6) { //somehow this is wrong
    //     throw new Error('Invalid HEX color.');
    // }
    var r = parseInt(hex.slice(0, 2), 16),
      g = parseInt(hex.slice(2, 4), 16),
      b = parseInt(hex.slice(4, 6), 16);
    if (bw) {
      // http://stackoverflow.com/a/3943023/112731
      return (r * 0.299 + g * 0.587 + b * 0.114) > 186
        ? '#000000'
        : '#FFFFFF';
    }
    // invert color components
    r = (255 - r).toString(16);
    g = (255 - g).toString(16);
    b = (255 - b).toString(16);
    // pad each with zeros and return
    return "#" + padZero(r) + padZero(g) + padZero(b);
  }

  function padZero(str, len) {
    len = len || 2;
    var zeros = new Array(len).join('0');
    return (zeros + str).slice(-len);
  }


</script>

<!-- add more text -->
<div class="row mb-3">
  <div class="col-md-12">
    <div class="float-right">
        <form action="pubmed" method="post" class="green-border-focus">
        <label for="pubmed_id">Enter PubMed ID: </label>
        <input type="text" id="pubmed_id" name="pubmed_id" class="form-control">
        <br>
        <input type="submit" value="SEND" class="btn btn-outline-danger float-right">
      </form>

    </div>
  </div>
</div>

<!-- PubMed ID form input -->
<form id="submitText" action="{{ url_for('tag') }}" method="post">
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="form-group green-border-focus">
        <label for="inputText">Enter text below:</label>
        <!-- todo: make largeTextArea responsive to screen size -->
        <textarea id="textArea" form="submitText" class="form-control" id="inputText" name="inputText" rows="20">

            </textarea>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <div class="float-right">
        <button type="submit" id=tag-text class="btn btn-outline-success"></i> Tag text</button>
      </div>
    </div>
  </div>
</form>

{% endif %}




{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}