{% extends "base.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

 {% block body %}
  {{ super() }}
  <div class="row">
  {% if tag_results %}
    <p>
      {{ tag_results | safe }}
    </p>
  {% endif %}
  </div>

    {% if not text %}
    <form id="submitText" action="{{ url_for('tag') }}" method="post">
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="form-group green-border-focus">
            <label for="inputText">Enter text below:</label>
            <!-- todo: make largeTextArea responsive to screen size -->
            <textarea form="submitText" class="form-control" id="inputText" name="inputText" rows="20">

            </textarea>
          </div>
        </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
              <div class="float-right">
                <button type="submit" id=tag-text class="btn btn-outline-success"></i> Tag text</button>
              </div>
            </div>
          </div>
    </form>

    {% elif text %}
    <div class="row mb-3">
          <div class="col-md-12">
              <div class="border"> {{text}} </div>
           </div>
    </div>

    {% endif %}



{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}

